{% extends 'classroom/layouts/base.html' %}

{% block content %}

  <h1>All Courses</h1>

  <form>
    <div class="form-group">
      <label for="query">Search</label>
      <input name="query" type="text" class="form-control" id="query" placeholder="Search for courses">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <div class="row">
    {% for course in courses %}
      <div class="col-sm-12 col-md-6 col-lg-4">
        {% include 'classroom/components/course_card.html' %}
      </div>
    {% endfor %}
  </div>

{% endblock %}